<div class="form-group">
  <input type="text" class="form-control mb-4 mt-3" placeholder="Search" [(ngModel)] ="query"/>
</div>

<h1> My Todo's</h1>
<div class="container">
  <table class="table">
    
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | searchTodo: query">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date | uppercase}}</td>
        <td>{{todo.done}}</td>
      </tr>
    </tbody>
  </table>
</div>